<div>
    <main>
        <div class="ms-2">
            <h1>Program:</h1>
            <div>     
                {{#with program}}
                <div>
                    {{#with excursion}}
                    <h2 class="mt-3 ms-3"><u>Exursion:</u></h2>
                    <p>
                        <dl class="ms-5">
                            <dt>{{name}}</dt>
                            <dt>{{#with location}}</dt>
                            <dt><address>{{city}}, {{country}}</address></dt>
                                {{/with}}
                            <dt><time>{{date}}</time></dt>
                        </dl>
                    </p>
                        {{#each program}}
                        <hr>
                        <br>
                    <p> 
                        <h2 class="ms-3">{{name}}</h2>
                        <dl class="ms-5">
                            <dt>Type: {{type}}</dt>
                            <dt>Duration: {{duration}}</dt>
                        </dl>                    
                    </p>
                    {{#with details}}
                        <div>
                            
                            {{#with museum}}
                            <p>
                                <br>
                                <h3 class="ms-3">{{name}}</h3>
                                {{#with location}}
                                <address class="ms-5">Address: {{address}}, {{city}}, {{country}}</address>
                                {{/with}}
                            </p>

                            <p>
                                <h4 class="ms-3"><u>Exhibits:</u></h4>
                                <div class="ms-5">
                                    {{#each exhibits}}
                                        {{> exhibits}}
                                    {{/each}}
                                </div>
                            </p>
                    
                            {{/with}}
                        </div>
                            {{#with venue}}
                        <p>
                            <br>
                            <h3 class="ms-3">{{name}}</h3>
                                {{#with location}}
                                <address class="ms-5">Address: {{address}}, {{city}}, {{country}}</address>
                                {{/with}}                        
                        </p>
                        <h4 class="ms-3"><u>Performers:</u></h4>
                            {{/with}}
                            
                        <div> 
                            {{#each performers}}  
                            <p>
                                <dl class="ms-5">
                                <dt><b><cite>{{name}}</cite></b></dt>
                                <dd>{{type}}</dd>
                                </dl>
                            </p>
                            {{/each}}                        
                        </div>
                        <br>
                    
                    {{> guide}}
                    {{/with}}
                        <div>
                            {{#with guide}}
                            <dl>
                                <dd><b>Guide: {{name}}</b></dd>
                                <dd>language: {{language}}</dd>
                                <dd>Raring: {{rating}}</dd>
                            </dl>
                            {{/with}}
                        </div>
                </div> 
                <div>  
                        {{/each}}                
                    {{/with}}                
                </div>
                {{/with}}               
            </div>
        </div>       
    </main>
</div>