<div>
    <main>
        <div class="row">
            <div class="col-12">
                {{#with navigation}}
                <section>
                    {{#each links}}
                    <a class="btn btn-link" href="{{href}}">{{text}}</a>
                    {{/each}}

                    {{#with button}}
                    <button class="btn btn-primary" href="{{href}}">{{text}}</button>
                    {{/with}}
                </section>
                {{/with}}
            </div>
            <hr>

            <div class="col-12 gx-4">
                <br>
                {{#with header}}
                <h1>{{title}}</h1>
                <p>{{description}}</p>
                    {{#with button}}
                    <button class="btn btn-primary" href="{{link}}">{{text}}</button>
                    {{/with}}
                {{/with}}
                <br>
                <br>
                <br>            
            </div>        
            <hr>

            
            <div>
                <br>
                {{#with city}}
                <h2>{{title}}</h2>
                <br>
                <div class="col-12">
                    <div class="row g-4">                        
                            {{#each cards}}
                                <div class="col-6 g-4"> 
                                    <div class="card">                                    
                                    {{#with picture}}
                                    <img src="{{src}}" alt="{{alt}}">
                                    {{/with}}
                                        <div class="card-body">
                                            <h5 class="card-title">{{title}}</h5>
                                            <p>{{description}}</p>
                                            <span>
                                                {{#with button}}
                                                <button class="btn btn-primary" href="{{href}}"> {{text}}</button>
                                                {{/with}}                                   
                                            </span>
                                        </div>
                                    </div>
                                </div> 
                            {{/each}}
                    </div>
                </div>
                {{/with}}
            </div>
            

            <hr>
            <br>
            <div class="col-12">
                {{#with winner}}
                <h2>{{title}}</h2>
                <br>
                <br>
                
                    <table class="table">
                        {{#with table}}
                            <thad>
                                <tr>
                                    {{#each head}}
                                    <th class="text-capitalize">
                                        {{this}}
                                    </th>
                                    {{/each}}
                                </tr>
                            </thad>
                            <tbody>
                                {{#each user}}
                                <tr>
                                    <th>{{place}}</th>
                                    <td>{{name}}</td>
                                    <td>{{surname}}</td>
                                    <td>{{nickname}}</td>
                                </tr>
                                {{/each}}                       
                            </tbody>
                        {{/with}}
                    </table>
                {{/with}}
            <br>
            <br>
            </div>
           
            <hr>

            <div class="col-12">
                <br>
                {{#with gallery}}
                <h2>{{title}}</h2>
                <br>
                <br>
                    <div class="row g-4">
                        {{#each cards}}
                            <div class="col-4 g-2">
                                <div class="card list">
                                    <p clas="card-header">{{name}}</p>
                                    {{!-- <div class="card-body"> --}}
                                        {{#each items}}
                                            <div class="list-group">
                                                <div class="list-group-item">{{this}}</div>
                                            </div>
                                        {{/each}}
                                    {{!-- </div> --}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/with}}
            <br>
            <br>
            </div>
            
            <hr>

            <div class="col-12">
                <br>
                {{#with relaxion}}
                    <span class="display-3">{{title}}</span>
                    <br>
                    <br>
                    <div class="row">
                        {{#each cards}}
                        <div class="col-5 g-4">
                            <div class="card text-bg-secondary">
                                <div class="card-header">{{header}}</div>
                                    <div class="card-body">
                                    <div class="card-title"><h5>{{title}}</h5></div>
                                    <p><small>{{description}}</small></p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                {{/with}}
                <br>
                <br>
            </div >
            <hr>
                
            <div class="col-12">
                {{#with rest}}
                   <div class="row">
                        {{#each cards}}
                            <div class="col-6 g-4">
                                <div class="card">
                                    <div class="card-header text-center">{{header}}</div>
                                        <div class="card-body text-center">
                                            <h5>{{title}}</h5>
                                            <p>{{description}}</p>
                                            <span><button class="btn btn-primary">{{button}}</button></span>                            
                                        </div>
                                    <div class="card-footer text-center">{{footer}}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/with}}
                <br>
                <br>
            </div>
            <hr>

            <div class="col-12">
                {{#with proposition}}
                    <span class="display-2">
                        {{title}}
                    </span>
                <br>
                <br>
                    <div class="row g-4">
                        {{#each card}}
                            <div class="col-5 g-4">
                                <div class="card text-bg-warning text-light">
                                    <div class="card-header">
                                        {{header}}                                    
                                    </div>
                                        <div class="card-body">
                                            <h6>{{title}}</h6>
                                            <div>
                                                {{description}}                                            
                                            </div>                                                            
                                        </div>                        
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/with}}
                <br>
                <br>
            </div>
            <hr>
            <table class="col-12">
                {{#with footer}}
                    <h5>{{title}}</h5>
                    
                        <tr>
                        <td>
                            <dl>
                                {{#each navigation}}
                                    <dt><a class="btn btn-link" href="{{href}}">{{text}}</a></dt><br>
                                {{/each}}
                            </dl>
                        </td>
                        <br>
                    
                        <td>
                            <dl>
                                {{#each socialMedia}}
                                    <dt><button class="btn btn-outline-dark" href="{{link}}">{{name}}</button></dt><br>
                                {{/each}}
                            </dl>
                        </td>
                        <br>

                        <td>
                            <dl>
                                {{#each partners}}
                                    <dt><button class="btn btn-outline-info" href="{{link}}">{{name}}</button></dt><br>
                                {{/each}}
                            </dl>
                        </td>
                        </tr>
                {{/with}}
            </table>
        </div> 
    </main>
</div>